<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monty Hall Problem</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
</head>
<body>
    <header class="container">
        <h2>testing</h2>
    </header>
    <main class="container">
        <h1>Hello you beautiful person</h1>
        
    </main>
    <main class="container">
            <section>
        <button class="warning">yes plz</button>
            
            
        <input type="submit">
    </section>
    </main>
    
</body>
</html>